{% block _character_abilities_widget %}
{% spaceless %}
    {% if compound %}
    <div {{ block('widget_container_attributes') }}>
        <span class="help-block">{{ 'character_ability.help'|trans({}, 'forms') }}</span>
        {% if form.parent is empty %}
            {{ block('global_form_errors') }}
        {% endif %}
        {% for child in form %}
            <div class="form-group">
                {{ form_label(child, 'character_ability.types.' ~ child.code.vars.value|trans({}, 'forms'), {'label_attr': {'class': 'col-sm-2'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(child.code) }}
                    {{ form_widget(child.modifier) }}
                    {{ form_errors(child.modifier) }}
                </div>
                {{ form_errors(child) }}
            </div>
        {% endfor %}
        {{ form_rest(form) }}
    </div>
    {% else %}
        {{ block('form_widget_simple') }}
    {% endif %}
{% endspaceless %}
{% endblock _character_abilities_widget %}
