<table class="table table-striped">
    <thead>
        <tr>
            <th>{{ 'skill.code'|trans({}, 'admin') }}</th>
            <th>{{ 'skill.name'|trans({}, 'admin') }}</th>
        </tr>
    </thead>
    <tbody>
    {% for skill in entities %}
        <tr>
            <td><a href="{{ path('admin_skill_view', {'code': skill.code}) }}">{{ skill.code }}</a></td>
            <td>{{ skill.name }}</td>
        </tr>
    {% else %}
        <tr class="warning">
            <td colspan="2">{{ 'skill.empty'|trans({}, 'admin') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
