<table class="table table-striped">
    <thead>
        <tr>
            {% if show_ability %}
                <th>{{ 'skill.ability'|trans({}, 'admin') }}</th>
            {% endif %}
            <th>{{ 'skill.name'|trans({}, 'admin') }}</th>
        </tr>
    </thead>
    <tbody>
    {% for skill in entities %}
        <tr>
            {% if show_ability %}
            <td>
                {% if skill.abilityCode %}
                    <a href="{{ path('admin_skill', {'ability': skill.abilityCode}) }}" title="{{ skill.abilityCode }}">{{ ('character_ability.types.' ~ skill.abilityCode)|trans({}, 'forms') }}</a>
                {% else %}
                    &nbsp;
                {% endif %}
            </td>
            {% endif %}
            <td><a href="{{ path('admin_skill_view', {'slug': skill.slug}) }}">{{ skill }}</a></td>
        </tr>
    {% else %}
        <tr class="warning">
            <td colspan="{{ 1 + (show_ability ? 1 : 0) }}">{{ 'skill.empty'|trans({}, 'admin') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
