<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ "Argonbook" }}{% endblock %}</title>
    {% block stylesheets %}
      {% stylesheets filter="cssrewrite,sass" "@ArgonWebBundle/Resources/sass/argonbook.scss" %}
        <link rel="stylesheet" href="{{ asset_url }}">
      {% endstylesheets %}
    {% endblock %}
    <link href="{{ asset("favicon.ico") }}" rel="icon" type="image/x-icon" />
  </head>
  <body>
    {% block body %}
      {% block header %}
      <header>
        <section>
          <h1><a href="{{ path("homepage") }}" title="{{ "Alternate Reality Games Oriented Network" }}">{{ "Argonbook" }}</a></h1>
          {% block nav %}
          <ul>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
              {% if is_granted('ROLE_USER') %}
                <li><a href="{{ path("character") }}">{{ "layout.character"|trans }}</a></li>
                <li><a href="{{ path("fos_user_profile_show") }}">{{ "layout.profile"|trans }}</a></li>
              {% endif %}
              {% if is_granted("ROLE_SUPER_ADMIN") %}
                <li><a href="{{ path("admin_dashboard") }}">{{ "layout.admin"|trans }}</a></li>
              {% endif %}
              {% if is_granted("ROLE_PREVIOUS_ADMIN") %}
                <li><a href="{{ path("character_view", {"slug": app.user.slug, "_switch": "_exit"}) }}">{{ "layout.switch_exit"|trans }}</a></li>
              {% else %}
                <li><a href="{{ path("fos_user_security_logout") }}">{{ "layout.logout"|trans }}</a></li>
              {% endif %}
            {% else %}
              <li><a href="{{ path("fos_user_security_login") }}">{{ "layout.login"|trans }}</a></li>
              <li><a href="{{ path("fos_user_registration_register") }}">{{ "layout.register"|trans }}</a></li>
            {% endif %}
          </ul>
          {% endblock %}
        </section>
      </header>
      {% endblock %}

      {% block wrapper %}
      <main id="{{ active|default("default") }}">
        <section>
          {% block top %}{% endblock %}
          {% if app.request.hasPreviousSession %}
            {% for class, messages in app.session.flashbag.all() %}
              {% for message in messages %}
                <p class="{{ class }}">{{ message|trans }}</p>
              {% endfor %}
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </section>
      </main>
      {% endblock %}

      {% block footer %}
      <footer>
        <section>
          <a href="{{ path("fos_user_registration_register") }}">{{ "layout.feedback"|trans }}</a>
        </section>
      </footer>
      {% endblock %}
    {% endblock %}
    {% block javascripts %}{% endblock %}
  </body>
</html>