{% trans_default_domain "ArgonWebBundle" %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ "Argonbook" }}{% endblock %}</title>
    {% block stylesheets %}
      {% stylesheets filter="cssrewrite,scss"
            "../vendor/necolas/normalize.css/normalize.css"
            "@ArgonWebBundle/Resources/scss/argonbook.scss"
       %}
        <link rel="stylesheet" href="{{ asset_url }}">
      {% endstylesheets %}
    {% endblock %}
    <link href="{{ asset("favicon.ico") }}" rel="icon" type="image/x-icon" />
  </head>
  <body>
    {% block body %}
      {% block header %}
      <header>
        <section>
          <h1><a href="{{ path("homepage") }}" title="{{ "Alternate Reality Games Oriented Network" }}">{{ "Argonbook" }}</a></h1>
          <ul>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
              {% if is_granted('ROLE_USER') %}
                <li><a href="{{ path("fos_user_profile_show") }}">{{ "layout.profile"|trans }}</a></li>
              {% endif %}
              {% if is_granted("ROLE_SUPER_ADMIN") %}
                <li><a href="{{ path("admin_dashboard") }}">{{ "layout.admin"|trans }}</a></li>
              {% endif %}
              {% if is_granted("ROLE_PREVIOUS_ADMIN") %}
                <li><a href="{{ path("homepage", {"_switch": "_exit"}) }}">{{ "layout.switch_exit"|trans }}</a></li>
              {% else %}
                <li><a href="{{ path("fos_user_security_logout") }}">{{ "layout.logout"|trans({}, "FOSUserBundle") }}</a></li>
              {% endif %}
            {% else %}
              <li><a href="{{ path("fos_user_security_login") }}">{{ "layout.login"|trans({}, "FOSUserBundle") }}</a></li>
            {% endif %}
          </ul>
        </section>
      </header>
      {% endblock %}

      {% if app.request.hasPreviousSession %}
        {% for class, messages in app.session.flashbag.all() %}
          {% for message in messages %}
            <div class="alert alert-{{ class }}">{{ message|trans({}, 'flash') }}</div>
          {% endfor %}
        {% endfor %}
      {% endif %}

      {% block wrapper %}
      <main>
        <section>
          {% block content %}{% endblock %}
        </section>
      </main>
      {% endblock %}

      {% block footer %}{% endblock %}
    {% endblock %}
    {% block javascripts %}{% endblock %}
  </body>
</html>