<table>
  <thead>
    <tr>
      <th>{{ "character.info"|trans }}</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
  {% for character in entities %}
    <tr>
      <td>
        {{ character.game.info.fullname }} / <a href="{{ path("character_view", {"slug": character.slug}) }}">{{ character.name }}</a> ({{ character.skillsExperience }}/{{ character.experience }})<br>
        {{ character.race }}
      </td>
      <td>
        <ul>
          <li><a href="{{ path("character_view", {"slug": character.slug, "_switch": character.slug}) }}">{{ "character.switch"|trans }}</a></li>
          <li><a href="{{ path("character_skills", {"slug": character.slug}) }}">{{ "character.skills"|trans }}</a></li>
          <li><a href="{{ path("character_edit", {"slug": character.slug}) }}">{{ "character.edit"|trans }}</a></li>
        </ul>
      </td>
    </tr>
  {% else %}
    <tr class="warning">
      <td colspan="2">{{ "character.empty"|trans }}</td>
    </tr>
  {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2">
        <a href="{{ path("character_game") }}">{{ "character.new"|trans }}</a>
      </td>
    </tr>
  </tfoot>
</table>
