<table>
  <thead>
    <tr>
      <th>{{ "character.info"|trans }}</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
  {% for character in characters %}
    <tr>
      <td>
        {{ render(controller("ArgonGameBundle:Block:characterNick", {"character": character})) }}
        (
          <span class="fi-graph-bar"></span>
          <span class="experience">{{ character.skillsExperience }}/{{ character.experience }}</span>
        )
        <br>
        {{ character.race }}
      </td>
      <td>
        <div class="button-group align-right">
          {% if showSwitch %}
            <a href="{{ linkSwitch|default(path("character_view", {"slug": character.slug}) ~ "?") ~ "_switch=" ~ character.slug }}" class="warning button">{{ "character.switch"|trans }}</a>
          {% endif %}
          {% if showEdit %}
            <a href="{{ path("character_skills", {"slug": character.slug}) }}" class="button">
              <span class="secondary badge">{{ character.skills|length }}</span>
              <span>{{ "character.skills"|trans }}</span>
            </a>
            <a href="{{ path("character_edit", {"slug": character.slug}) }}" class="button">{{ "character.edit"|trans }}</a>
          {% endif %}
          {% if showAccept %}
            <a href="{{ path("friendlist_relation", {"slug": character.slug}) }}" class="button">{{ "friendlist.relation_accept"|trans }}</a>
          {% endif %}
        </div>
      </td>
    </tr>
  {% else %}
    <tr class="warning">
      <td colspan="2">{{ "character.empty"|trans }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
