{% extends "ArgonWebBundle::layout.html.twig" %}
{% set active = "game" %}

{% block title %}{{ parent() }} - {{ "game.games"|trans }}{% endblock %}

{% block content %}
  <h1>{{ "game.games"|trans }}</h1>
  {% for game in games %}
    <div class="game media-object">
      {#
      <div class="media-object-section">
        <img src= "http://placeimg.com/50/50/games">
      </div>
      #}
      <div class="media-object-section">
        <h4><a href="{{ path("game_view", {"game": game.name}) }}">{{ game.info.fullname }}</a></h4>
        {% if game.info.description[app.request.locale] is defined %}
          <p>{{ game.info.description[app.request.locale] }}</p>
        {% endif %}
      </div>
    </div>
  {% endfor %}
{% endblock %}