{% extends "ArgonWebBundle::layout.html.twig" %}
{% set active = "game" %}

{% block title %}{{ parent() }} - {{ game.name }}{% endblock %}

{% block content %}
  <h1>{{ game.info.fullname }}</h1>
  {% if game.info.description[app.request.locale] is defined %}
    <p>{{ game.info.description[app.request.locale] }}</p>
  {% endif %}
  <p class="genres">
    {% for genre in game.genres %}
      <span class="label {{ genre|lower }}">{{ ("genres." ~ genre)|trans }}</span>
    {% endfor %}
  </p>

  <h2>{{ "game.characters"|trans }}</h2>
  {% for row in characters|batch(3) %}
    <div class="row small-up-2 medium-up-3">
      <div class="column">
      {% for character in row %}
        {{ include("ArgonGameBundle:Partial\\Character:card.html.twig", {"character": character}) }}
      {% endfor %}
      </div>
    </div>
  {% else %}
    <div class="warning callout">
      <p>{{ "game.character_empty"|trans }}</p>
    </div>
  {% endfor %}
  {{ knp_pagination_render(characters) }}

  {% if is_granted('ROLE_PLAYER') %}
  <div class="button-group">
    <a href="{{ path("character_new", {"gameName": game.name}) }}" class="button">{{ "game.create_character"|trans }}</a>
  </div>
  {% endif %}
{% endblock %}