<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Argonbook{% endblock %}</title>
    {% block stylesheets %}
      {% stylesheets filter="cssrewrite,scss"
            "../vendor/necolas/normalize.css/normalize.css"
            "../app/Resources/scss/argonbook.scss"
       %}
        <link rel="stylesheet" href="{{ asset_url }}">
      {% endstylesheets %}
    {% endblock %}
    <link href="{{ asset('favicon.ico') }}" rel="icon" type="image/x-icon" />
  </head>
  <body>
    {% block body %}
      {% block header %}
      <header>
        <nav>
          <h1><a href="{{ path("homepage") }}">Argonbook</a></h1>
          <ul>
            <li><a href="{{ path("homepage") }}">{{ "Home"|trans }}</a></li>
            <li><a href="{{ path("playerlist") }}">{{ "Player list"|trans }}</a></li>
          </ul>
        </nav>
      </header>
      {% endblock %}

      {% for class, messages in app.session.flashbag.all() %}
        {% for message in messages %}
          <div class="alert alert-{{ class }}">{{ message|trans({}, 'flash') }}</div>
        {% endfor %}
      {% endfor %}

      {% block wrapper %}
        {% block content %}{% endblock %}
      {% endblock %}

      {% block footer %}{% endblock %}
    {% endblock %}
    {% block javascripts %}{% endblock %}
  </body>
</html>