{% extends "::base.html.twig" %}

{% block title 'ArgonBook' %}

{% block stylesheets %}
{% spaceless %}
  <link href="{{ asset('/css/bootstrap.css') }}" rel="stylesheet" media="screen">
  {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
{% endspaceless %}

{% endblock %}

{% block body %}
  <div class="container">
    {#
    <div class="locale_switcher">
      {{ locale_switcher() }}
    </div>
     #}
    <div class="page-header">
      <ul class="nav nav-pills pull-right">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li><a href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a></li>
            {% if is_granted("ROLE_ADMIN") %}
                <li><a href="{{ path('admin_dashboard') }}">{{ 'layout.admin'|trans({}, 'web') }}</a></li>
            {% endif %}
            <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
        {% else %}
            <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
        {% endif %}
      </ul>
      <h3 class="text-muted"><a href="{{ path('homepage') }}">{{ 'ArgonBook' }}</a>
        <small>{{ 'Alternate Reality Games Oriented Network' }}</small>
      </h3>
    </div>

    {% for flashClass, flashMessages in app.session.flashbag %}
      {% for flashMessage in flashMessages %}
        <div class="alert alert-{{ flashClass }}">{{ flashMessage|trans({}, 'web') }}</div>
      {% endfor %}
    {% endfor %}

    {% block wrapper %}
        {% block content %}{% endblock %}
    {% endblock %}
  </div>
{% endblock %}

{#
{% block javascripts %}
    <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all JavaScripts, compiled by Assetic -->
    <script src="{{ asset('/js/bootstrap.js') }}"></script>
{% endblock %}
 #}