{% extends "::base.html.twig" %}

{% block title 'ArgonBook' %}

{% block stylesheets %}
{% spaceless %}
  <link href="{{ asset('/css/bootstrap.css') }}" rel="stylesheet" media="screen">
  {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
{% endspaceless %}

{% endblock %}

{% block body %}
  {% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-message">{{ flashMessage }}</div>
  {% endfor %}

  <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li><a href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a></li>
            <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
        {% else %}
            <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
        {% endif %}
      </ul>
      <h3 class="text-muted"><a href="{{ path('homepage') }}">{{ 'ArgonBook' }}</a>
        <small>{{ 'Alternate Reality Games Oriented Network' }}</small>
      </h3>
    </div>

    {% block wrapper %}
        {% block content %}{% endblock %}
    {% endblock %}
  </div>
{% endblock %}