{% set active = 'dashboard' %}
{% extends 'ArgonWebBundle::Admin/layout.html.twig' %}
{% trans_default_domain 'admin' %}

{% block title %}{{ parent() }} - {{ 'dashboard.title'|trans }}{% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li class="active">{{ 'dashboard.title'|trans }}</li>
</ol>
<div class="row">
    <div class="col-md-8">
        Welcome!
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">{{ 'dashboard.title'|trans }}</div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                  <dt>{{ 'dashboard.info.version'|trans }}</dt>
                  <dd>{{ project.version }}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
{% endblock %}