{% extends "ArgonWebBundle::layout_admin.html.twig" %}
{% set active = "dashboard" %}

{% block title %}{{ parent() }} - {{ "admin.dashboard.title"|trans }}{% endblock %}

{% block top %}
<nav aria-label="{{ "admin.you_are_here"|trans }}" role="navigation">
  <ul class="breadcrumbs">
    <li>{{ "admin.dashboard.title"|trans }}</li>
  </ul>
</nav>
{% endblock %}

{% block content %}
<div class="row">
  <div class="small-9 columns">
    <h3>{{ "admin.dashboard.whatsnew"|trans }}</h3>
    <h5>1.23</h5>
    <ul>
      <li>A character level is calculated by the game and shown next to the nick,</li>
    </ul>
    <h5>1.22</h5>
    <ul>
      <li>Games and races now have genres,</li>
      <li>On new game, only races from the game's genres are shown.</li>
    </ul>
  </div>
  <div class="small-3 columns">
    <h3>{{ "admin.dashboard.title"|trans }}</h3>
    <dl>
      <dt>{{ "admin.dashboard.version"|trans }}</dt>
      <dd>{{ project.version }}</dd>
    </dl>
  </div>
</div>
{% endblock %}