{% extends "ArgonWebBundle::layout.html.twig" %}
{% trans_default_domain "ArgonWebBundle" %}
{% set active = "dashboard" %}

{% block title %}{{ parent() }} - {{ "admin.dashboard.title"|trans }}{% endblock %}

{% block content %}
<ol id="breadcrumb">
  <li class="active">{{ "admin.dashboard.title"|trans }}</li>
</ol>
<article>
  <h3>{{ "admin.dashboard.title"|trans }}</h3>
  <dl>
    <dt>{{ "admin.dashboard.info.version"|trans }}</dt>
    <dd>{{ project.version }}</dd>
  </dl>
</article>
{% endblock %}