{% extends "ArgonWebBundle::layout_admin.html.twig" %}
{% set active = "blog" %}

{% block title %}{{ parent() }} - {{ "admin.blog.blog"|trans }} - {{ post }} - {{ "admin.blog.edit"|trans }}{% endblock %}

{% block top %}
<nav aria-label="{{ "admin.you_are_here"|trans }}" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="{{ path("admin_dashboard") }}">{{ "admin.dashboard.title"|trans }}</a></li>
    <li><a href="{{ path("admin_blog") }}">{{ "admin.blog.blog"|trans }}</a></li>
    <li><a href="{{ path("admin_blog_view", {"slug": post.slug}) }}">{{ post }}</a></li>
    <li>{{ "admin.blog.edit"|trans }}</li>
  </ul>
</nav>
{% endblock %}

{% block content %}
{% if preview|default(false) %}
  {{ preview|markdown|raw }}
  <hr>
{% endif %}
{{ form_start(form) }}
  <div class="grid-x">
    <div class="medium-4 cell">
      {% if post.imagePath %}
        <a href="{{ asset(post.imagePath) }}">
          <img src="{{ asset(post.imagePath) }}" alt="{{ post.title }}">
        </a>
      {% endif %}
      {{ form_widget(form.image) }}
    </div>
    <div class="medium-8 cell">
      {{ form_row(form.title) }}
      {{ form_row(form.body) }}
    </div>
  </div>
  <div class="button-group">
    {{ form_widget(form.submit) }}
    {{ form_widget(form.preview) }}
    <span id="post_preview_warning" class="callout small warning hide">{{ "admin.blog.preview_warning"|trans }}</span>
  </div>
  {{ form_rest(form) }}
{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $(function() {
        $('#post_image').change(function() {
            $("#post_preview")
                .addClass("disabled")
                .attr("disabled", "disabled");
            $("#post_preview_warning").removeClass("hide");
        });
    });
</script>
{% endblock %}