{% extends "ArgonWebBundle::layout.html.twig" %}
{% set active = "character" %}

{% block title %}{{ parent() }} - {{ "character.characters"|trans }} - {{ character }} - {{ "character.edit"|trans }}{% endblock %}

{% block content %}
<h1>{{ "character.edit_title"|trans({"%character%": character}) }}</h1>
{{ form_start(form) }}
  {{ form_errors(form) }}
  {{ form_row(form.story, {"attr": {"placeholder": "character.story_placeholder" }}) }}
  {% if character.storyConfirmedAt is null %}
    <p class="warning">{{ "character.story_not_confirmed"|trans }}</p>
  {% else %}
    <p class="success">{{ "character.story_confirmed"|trans }}</p>
    {% if story_note %}
      <dl>
        <dt>{{ "character.note"|trans }}</dt>
        <dd>{{ story_note|raw }}</dd>
      </dl>
    {% endif %}
  {% endif %}
  {{ form_rest(form) }}
{{ form_end(form) }}
{% endblock %}
