{% set active = 'character' %}
{% extends 'ArgonWebBundle::layout.html.twig' %}
{% trans_default_domain 'web' %}

{% block title %}{{ parent() }} - {{ 'character.title'|trans }} - {{ character }} - {{ 'character.edit'|trans }}{% endblock %}

{% block content %}
{{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.story, {'attr': {'placeholder': 'character.story_placeholder'|trans}}) }}
    {% if character.storyConfirmedAt is null %}
        <div class="alert alert-warning">{{ 'character.story_not_confirmed'|trans }}</div>
    {% else %}
        <div class="alert alert-success">{{ 'character.story_confirmed'|trans }}</div>
        {% if character.note %}
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'character.note'|trans }}</h3>
                </div>
                <div class="panel-body">{{ character.note|nl2br }}</div>
            </div>
        {% endif %}
    {% endif %}
    {{ form_rest(form) }}
{{ form_end(form) }}
{% endblock %}
