{% set active = 'character' %}
{% extends 'ArgonWebBundle::layout.html.twig' %}
{% trans_default_domain 'web' %}

{% block title %}{{ parent() }} - {{ 'character.title'|trans }} - {{ character }} - {{ 'character.edit'|trans }}{% endblock %}

{% block content %}
{{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.story, {'attr': {'placeholder': 'character.story_placeholder'|trans}}) }}
    {% if character.storyConfirmedAt is null %}
        <div class="alert alert-info">{{ 'character.story_not_confirmed'|trans }}</div>
    {% else %}
        <div class="alert alert-info">{{ 'character.story_confirmed'|trans }}</div>
    {% endif %}
    {{ form_rest(form) }}
{{ form_end(form) }}
{% endblock %}
