{% extends "ArgonWebBundle::layout.html.twig" %}
{% set active = "character" %}

{% block title %}{{ parent() }} - {{ "character.characters"|trans }}{% endblock %}

{% block content %}
  <h1>{{ "character.characters"|trans }}</h1>
  {{ render(controller("ArgonGameBundle:Block:characters", {"linkSwitch": true, "showEdit": true})) }}
  <div class="button-group">
    <a href="{{ path("character_game") }}" class="button">{{ "character.new"|trans }}</a>
  </div>
{% endblock %}