{% set active = 'character' %}
{% extends 'ArgonWebBundle::layout.html.twig' %}
{% trans_default_domain 'web' %}

{% block title %}{{ parent() }} - {{ 'character.title'|trans }}{% endblock %}

{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>{{ 'character.info'|trans }}</th>
            <th class="text-right">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
    {% for character in entities %}
        <tr>
            <td>
                {{ character.game.info.fullname }} / <a href="{{ path('character_view', {'id': character.id}) }}">{{ character.name }}</a> (
                    <span class="glyphicon glyphicon-signal"></span> {{ character.availableExperience }}/{{ character.experience }}
                )<br>
                {{ character.race }}
            </td>
            <td class="text-right">
                <a href="{{ path('character_skills', {'id': character.id}) }}">{{ 'character.skills'|trans }} <span class="glyphicon glyphicon-screenshot"></span></a>
            </td>
        </tr>
    {% else %}
        <tr class="warning">
            <td colspan="2">{{ 'character.empty'|trans }}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">
                <a href="{{ path('character_game') }}" class="btn btn-default">{{ 'character.new'|trans }}</a>
            </td>
        </tr>
    </tfoot>
</table>
{% endblock %}