{% extends "ArgonWebBundle::layout.html.twig" %}
{% set active = "character" %}

{% block title %}{{ parent() }} - {{ "character.new"|trans }} - {{ game.name }}{% endblock %}

{% block content %}
<h1>{{ "character.new_title"|trans }}</h1>
<div class="grid-x">
  <div class="large-4 cell">
    <h3>{{ game.info.fullname }}</h3>
    {% if game.info.description[app.request.locale] is defined %}
      <p>{{ game.info.description[app.request.locale] }}</p>
    {% endif %}
    <div class="genres">
    {% for genre in game.genres %}
      <span class="label {{ genre|lower }}">{{ ("genres." ~ genre)|trans }}</span>
    {% endfor %}
    </div>
  </div>
  <div class="large-8 cell">{{ form(form) }}</div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $(function() {
        $("#character_abilities").children().attr('data-id', function() {
            return $(this).find('label[for$="_modifier"]').text().toLowerCase();
        });

        $("#character_abilities")
            .find('input[id$="_modifier"]')
            .attr('type', 'hidden')
            .attr('unselectable', 'on')
            .css('user-select', 'none')
            .on('selectstart', false);

        var updateValues = function() {
            $("#character_abilities").children().each(function(position, element) {
                $(element).find('label').removeClass().addClass('position-' + (position + 1).toString());
                $('input[id$="_modifier"]', element).val(position + 1);
            });
        };

        var abilities = Sortable.create(document.getElementById("character_abilities"), {
            onUpdate: updateValues
        });

        $('#character_abilities').find('label[for$="_modifier"]').wrapInner(function() {
            return $('<a href="#"></a>').click(function() {
                var first = $(this).text().toLowerCase();

                abilities.sort([first].concat(abilities.toArray().filter(function(ability) {
                    return ability !== first;
                })));

                updateValues();

                return false;
            });
        });
    });
</script>
{% endblock %}
