{% extends "ArgonWebBundle::layout.html.twig" %}
{% set active = "character" %}

{% block title %}{{ parent() }} - {{ "character.new"|trans }} - {{ game.name }}{% endblock %}

{% block content %}
<h1>{{ "character.new_title"|trans }}</h1>
<div class="row">
  <div class="large-4 columns">
    <h3>{{ game.info.fullname }}</h3>
    {% if game.info.description[app.request.locale] is defined %}
      <p>{{ game.info.description[app.request.locale] }}</p>
    {% endif %}
  </div>
  <div class="large-8 columns">{{ form(form) }}</div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $(function() {
        $("#character_abilities")
            .find('input[id$="_modifier"]')
            .attr('type', 'hidden')
            .attr('unselectable', 'on')
            .css('user-select', 'none')
            .on('selectstart', false);

        Sortable.create(document.getElementById("character_abilities"), {
            onUpdate: function(event) {
                $("#character_abilities").children().each(function(position, element) {
                    $(element).find('label').removeClass().addClass('position-' + (position + 1).toString());
                    $('input[id$="_modifier"]', element).val(position + 1);
                });
            }
        });
    });
</script>
{% endblock %}
