{% extends "ArgonWebBundle::layout.html.twig" %}
{% set active = "character" %}

{% block title %}{{ parent() }} - {{ "character.new"|trans }} - {{ game.name }}{% endblock %}

{% block content %}
<h1>{{ "character.new_title"|trans }}</h1>
{{ form(form) }}
{% endblock %}