{% set active = 'character' %}
{% extends 'ArgonWebBundle::layout.html.twig' %}
{% trans_default_domain 'web' %}

{% block title %}{{ parent() }} - {{ 'character.title'|trans }} - {{ character }} - {{ 'character.skills'|trans }}{% endblock %}

{% block content %}
<div class="progress">
  <div class="progress-bar progress-bar-success" style="width: {{ ((character.skillsExperience * 100) / character.experience)|round }}%">
    <span class="sr-only">{{ character.skillsExperience }}</span>
  </div>
  <div class="progress-bar progress-bar-info" style="width: 0%">
    <span class="sr-only" id="progress">0</span>
  </div>
</div>
{{ form_start(form) }}
    {{ form_errors(form) }}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>{{ 'skill.name'|trans }}</th>
                <th>{{ 'skill.level'|trans }}</th>
                <th class="text-right">{{ 'skill.price'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for characterSkill in form.characterSkills %}
        {% set skill = characterSkill.vars.value.skill %}
            <tr class="ability-{{ skill.abilityCode|default('all')|lower }}">
                <td>
                    {% if skill.abilityCode %}
                        <abbr title="{{ ('character_ability.types.' ~ skill.abilityCode)|trans({}, 'forms') }} ({{ skill.abilityCode }})">
                            <span class="glyphicon glyphicon-asterisk"></span>
                        </abbr>
                    {% else %}
                        <abbr title="{{ 'skill.ability_empty'|trans }}">
                            <span class="glyphicon glyphicon-asterisk"></span>
                        </abbr>
                    {% endif %}
                </td>
                <td>{{ skill }}</td>
                <td>
                    <div class="input-group">
                        <span id="{{ skill.slug }}_level" class="input-group-addon">{{ characterSkill.vars.value.level }}</span>
                        {{
                            form_widget(characterSkill.newLevel, {'attr': {
                                'data-level' : characterSkill.vars.value.level|default(0),
                                'data-max'   : skill.max|default(-1),
                                'data-price' : characterSkill.vars.value.price
                            }})
                        }}
                    </div>
                    {{ form_errors(characterSkill.newLevel) }}
                </td>
                <td class="text-right">{{ characterSkill.vars.value.price }}</td>
            </tr>
        {% else %}
            <tr class="warning">
                <td colspan="4">{{ 'skill.empty'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ form_rest(form) }}
{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $.fn.skillLevel = function(experience, available) {
        var elements = this;

        function updateTotal() {
            var total = 0;

            elements.each(function() {
                var element = $(this);
                var level   = element.val() === "" ? 0 : parseInt(element.val());
                var price   = parseInt(element.attr('data-price'));

                total += level * price;
            });

            $('#progress')
                .html(total)
                .parent().css('width', Math.round((total * 100) / experience).toString() + '%');

            if (total >= available) {
                //
            }
        };

        elements.each(function() {
            var element = $(this).hide();
            var elevel  = element.parent().find('span');

            var min = parseInt(element.attr('data-level'));
            var max = parseInt(element.attr('data-max'));

            function buttonHTML(dir) {
                return '<button class="btn btn-default"><span class="glyphicon glyphicon-chevron-' + dir + '"></span></button>';
            }

            var down = $(buttonHTML('down')).click(function () { update(-1); updateTotal(); return false; });
            var up   = $(buttonHTML('up')).click(function() { update(+1); updateTotal(); return false; });

            var buttons = $('<span class="input-group-btn"></span>').append(up).append(down);

            function update(modifier) {
                var level = element.val() === "" ? 0 : parseInt(element.val());
                var buy   = level + 1 * modifier;
                var next  = min + buy;

                down.toggleClass('disabled', next <= min);
                up.toggleClass('disabled', next >= max);

                element.val(buy);
                elevel.html(next);
            }

            element.parent().append(buttons);

            update(0);
        });

        updateTotal();

        return elements;
    };
    $(function() {
        $('input[type="number"]').skillLevel(
            {{ character.experience|default(0) }},
            {{ character.availableExperience|default(0) }}
        );
    });
</script>
{% endblock %}
