{% set active = 'character' %}
{% extends 'ArgonWebBundle::layout.html.twig' %}
{% trans_default_domain 'web' %}

{% block title %}{{ parent() }} - {{ 'character.title'|trans }} - {{ character }} - {{ 'character.skills'|trans }}{% endblock %}

{% block content %}
{{ form_start(form) }}
    <div class="character-info panel panel-default">
        <div class="panel-body">
            <div class="progress">
                <div class="progress-bar progress-bar-success" style="width: {{ ((character.skillsExperience * 100) / character.experience)|round }}%">
                    <span class="sr-only">{{ character.skillsExperience }}</span>
                </div>
                <div class="progress-bar progress-bar-info" style="width: 0%">
                    <span class="sr-only" id="progress">0</span>
                </div>
            </div>
            {{ form_widget(form.submit, {'attr': {'class': 'pull-right'}}) }}
        </div>
    </div>
    {{ form_errors(form) }}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>{{ 'skill.name'|trans }}</th>
                <th>{{ 'skill.level'|trans }}</th>
                <th class="text-right">{{ 'skill.price'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for characterSkill in form.characterSkills %}
        {% set skill = characterSkill.vars.value.skill %}
            <tr class="ability-{{ skill.abilityCode|default('all')|lower }}">
                <td>
                    {% if skill.abilityCode %}
                        <abbr title="{{ ('character_ability.types.' ~ skill.abilityCode)|trans({}, 'forms') }} ({{ skill.abilityCode }})">
                            <span class="glyphicon glyphicon-asterisk"></span>
                        </abbr>
                    {% else %}
                        <abbr title="{{ 'skill.ability_empty'|trans }}">
                            <span class="glyphicon glyphicon-asterisk"></span>
                        </abbr>
                    {% endif %}
                </td>
                <td>{{ skill }}</td>
                <td>
                    <div class="input-group">
                        <span id="{{ skill.slug }}_level" class="input-group-addon">{{ characterSkill.vars.value.level }}</span>
                        {{
                            form_widget(characterSkill.newLevel, {'attr': {
                                'data-level' : characterSkill.vars.value.level|default(0),
                                'data-max'   : skill.max|default(-1),
                                'data-price' : characterSkill.vars.value.price
                            }})
                        }}
                    </div>
                    {{ form_errors(characterSkill.newLevel) }}
                </td>
                <td class="text-right">{{ characterSkill.vars.value.price }}</td>
            </tr>
        {% else %}
            <tr class="warning">
                <td colspan="4">{{ 'skill.empty'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ form_rest(form) }}
{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% javascripts '@ArgonGameBundle/Resources/public/js/jquery.skillLevel.js'
               '@ArgonGameBundle/Resources/public/js/jquery.affixTop.js'
        filter='?closure' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
<script type="text/javascript">
    $(function() {
        $('.character-info').affixTop();
        $('input[type="number"]').skillLevel(
            {{ character.experience|default(0) }},
            {{ character.availableExperience|default(0) }}
        );
    });
</script>
{% endblock %}
