{% extends "ArgonWebBundle::layout.html.twig" %}
{% set active = "character skills" %}

{% block title %}{{ parent() }} - {{ "character.characters"|trans }} - {{ character }} - {{ "character.skills"|trans }}{% endblock %}

{% block content %}
<h1 id="skills">{{ "character.skills"|trans }}</h1>
{{ form_start(form) }}
  <div class="sticky-container" data-sticky-container>
    <div class="sticky row" data-sticky data-top-anchor="skills:bottom" data-btm-anchor="skills-table:bottom" data-margin-top="0">
      <div class="medium-8 columns">
        <div class="progress">
          <span class="progress-meter" id="progress-experience" style="width: {{ ((character.skillsExperience * 100) / character.experience)|round }}%">
            <p class="progress-meter-text">{{ character.skillsExperience }}</p>
          </span>
        </div>
      </div>
      <div class="medium-2 columns">
        {{ form_widget(form.submit) }}
      </div>
      <div class="medium-2 columns">
        <ul>
          <li><big id="experience-available">{{ character.availableExperience|default(0) }}</big> {{ "character_experience.stats.available"|trans }}</li>
          <li><big id="experience">{{ character.experience|default(0) }}</big> {{ "character_experience.stats.total"|trans }}</li>
        </ul>
      </div>
      {{ form_errors(form) }}
    </div>
  </div>
  <table id="skills-table">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>{{ "skill.name"|trans }}</th>
        <th class="text-right">{{ "skill.level"|trans }}</th>
        <th>{{ "skill.buy"|trans }}</th>
        <th class="text-right">{{ "skill.price"|trans }}</th>
      </tr>
    </thead>
    <tbody>
    {% for characterSkill in form.characterSkills %}
    {% set skill = characterSkill.vars.value.skill %}
      <tr class="ability-{{ skill.abilityCode|default("all")|lower }}">
        <td>
          {% if skill.abilityCode %}
            <abbr title="{{ ("character_ability.types." ~ skill.abilityCode)|trans }}">{{ skill.abilityCode }}</abbr>
          {% else %}
            <abbr title="{{ "skill.ability_empty"|trans }}">&mdash;</abbr>
          {% endif %}
        </td>
        <td>
          <em>{{ skill }}</em>
          {% if skill.description %}
            {{ skill.description|markdown|raw }}
          {% endif %}
        </td>
        <td class="text-right"><span id="{{ skill.slug }}_level">{{ characterSkill.vars.value.level }}</span></td>
        <td>
          {{
            form_widget(characterSkill.newLevel, {"attr": {
              "data-level" : characterSkill.vars.value.level|default(0),
              "data-max"   : skill.max|default(-1),
              "data-price" : characterSkill.vars.value.price
            }})
          }}
          {{ form_errors(characterSkill.newLevel) }}
        </td>
        <td class="text-right">{{ characterSkill.vars.value.price }}</td>
      </tr>
    {% else %}
      <tr class="warning">
        <td colspan="5">{{ "skill.empty"|trans }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {{ form_rest(form) }}
{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $(function() {
        var total = parseInt(
            $("#experience").html()
        );

        $('input[type="number"]').change(function(event) {
            var el = $(this);

            var val = el.val() == "" ? 0 : parseInt(el.val());
            var max = parseInt(el.data("max"));

            if (val < 0 || val == 0) {
                el.val("");
            } else if (max > 0 && val > max) {
                el.val(max);
            } else {
                var progress = get();

                if (progress > total) {
                    val -= progress - total;
                    el.val(val == 0 ? "" : val);
                }
            }

            update();
        });

        function get() {
            var progress = 0;

            $('input[type="number"]').each(function() {
                var el = $(this);

                var level = parseInt(el.data("level"));
                var price = parseInt(el.data("price"));
                var value = el.val() == "" ? 0 : parseInt(el.val());

                progress += (level + value) * price;
            });

            return progress;
        }

        function update() {
            var progress = get();

            $("#progress-experience")
                .css("width", Math.round((progress * 100) / total).toString() + "%")
                .find("p").html(progress);
        }

        update();
    });

    $(function() {
        var max = 0;

        $('input[type="number"]')
            .each(function() {
                var price = parseInt(
                    $(this).data("price")
                );

                if (max < price) {
                    max = price;
                }
            })
            .each(function() {
                var el = $(this);

                var price = parseInt(el.data("price"));
                var perc  = 100 - price * 100 / max;

                el.parents("tr").css("background-color", "hsl(" + perc + ", 20%, 50%)");
            })
        ;
    });
</script>
{% endblock %}