{% extends "ArgonWebBundle::layout.html.twig" %}
{% set active = "character" %}

{% block title %}{{ parent() }} - {{ "character.title"|trans }} - {{ character }}{% endblock %}

{% block content %}
<h1>{{ character }}</h1>
<article>
  <h2>{{ "character.info"|trans }}</h2>
  <dl>
    <dt>
      <label>{{ "character.name"|trans }}</label>
    </dt>
    <dd>{{ character.game.info.fullname }} / {{ character.name }}</dd>
    <dt>
      <label class="col-sm-2 control-label">{{ "character.race"|trans }}</label>
    </dt>
    <dd>{{ character.race }}</dd>
  </dl>
</article>
<article>
  <h2>{{ "character.abilities"|trans }}</h2>
  <table>
    <tbody>
    {% for ability in character.abilities %}
      <tr>
        <td>{{ ability.modifier }}</td>
        <td><abbr title="{{ ability.code }}">{{ ("character_ability.types." ~ ability.code)|trans }}</abbr></td>
      </tr>
    {% else %}
      <tr class="warning">
        <td colspan="2">{{ "character_ability.empty"|trans }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</article>
<article>
  <h2>{{ "character.story"|trans }}</h2>
  <p>{{ character.story|nl2br }}</p>
</article>
{% if character.note %}
  <article>
    <h2>{{ "character.note"|trans }}</h2>
    <p>{{ character.note|nl2br }}</p>
  </article>
{% endif %}
<article>
  <h2>{{ "character.experience"|trans }}</h2>
  <table>
    <thead>
      <tr>
        <th>{{ "character_experience.at"|trans }}</th>
        <th>{{ "character_experience.reason"|trans }}</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
    {% for experience in experiences %}
      <tr>
        <td>{{ experience.at|date }}</td>
        <td>{{ experience.reason }}</td>
        <td>{{ experience.value }}</td>
      </tr>
    {% else %}
      <tr class="warning">
        <td colspan="3">{{ "character_experience.empty"|trans }}</td>
      </tr>
    {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">
          <ul>
            <li><big>{{ character.skillsExperience|default(0) }}</big> {{ "character_experience.stats.used_skills"|trans }}</li>
            <li><big>{{ character.availableExperience|default(0) }}</big> {{ "character_experience.stats.available"|trans }}</li>
            <li><big>{{ character.experience|default(0) }}</big> {{ "character_experience.stats.total"|trans }}</li>
          </ul>
        </td>
      </tr>
    </tfoot>
  </table>
</article>
<article>
  <h2>{{ "character.skills"|trans }}</h2>
  <table>
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>{{ "skill.name"|trans }}</th>
        <th>{{ "skill.level"|trans }}</th>
      </tr>
    </thead>
    <tbody>
    {% for skill in character.skills %}
      <tr>
        <td>
          {% if skill.skill.abilityCode %}
            <abbr title="{{ ("character_ability.types." ~ skill.skill.abilityCode)|trans({}, "forms") }} ({{ skill.skill.abilityCode }})">*</abbr>
          {% else %}
            <abbr title="{{ "skill.ability_empty"|trans }}">*</abbr>
          {% endif %}
        </td>
        <td>{{ skill.skill }}</td>
        <td class="text-right">{{ skill.level }}</td>
      </tr>
    {% else %}
      <tr class="warning">
        <td colspan="3">{{ "character_skill.empty"|trans }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</article>
{% endblock %}