{% extends "ArgonWebBundle::layout.html.twig" %}
{% set active = "character" %}

{% block title %}{{ parent() }} - {{ character }}{% endblock %}

{% block content %}
<h1>{{ character }}</h1>
<div class="row align-middle">
  <div class="small-2 columns">{#}<h2>{{ "character.level"|trans }}</h2>{#}
    <big class="level stat">{{ character.level }}</big>
  </div>
  <div class="small-5 columns">{#}<h2>{{ "character.info"|trans }}</h2>{#}
    <dl>
      <dt>
        <label>{{ "character.name"|trans }}</label>
      </dt>
      <dd>{{ character.game.info.fullname }} / {{ character.name }}</dd>
      <dt>
        <label>{{ "character.race"|trans }}</label>
      </dt>
      <dd>{{ character.race }}</dd>
    </dl>
  </div>
  <div class="small-5 columns">{#}<h2>{{ "character.abilities"|trans }}</h2>{#}
    {{ include("ArgonGameBundle:Partial\\Character:abilities.html.twig", {"character": character}) }}
  </div>
</div>
<div class="row">
  <div class="large-8 columns">
    <h2>{{ "character.skills"|trans }}</h2>
    <table>
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>{{ "skill.name"|trans }}</th>
          <th>{{ "skill.level"|trans }}</th>
        </tr>
      </thead>
      <tbody>
      {% for skill in character.skills %}
        <tr class="ability-{{ skill.skill.abilityCode|default("all")|lower }}">
          <td>
            {% if skill.skill.abilityCode %}
              <abbr title="{{ ("character_ability.types." ~ skill.skill.abilityCode)|trans }} ({{ skill.skill.abilityCode }})">*</abbr>
            {% else %}
              <abbr title="{{ "skill.ability_empty"|trans }}">*</abbr>
            {% endif %}
          </td>
          <td>{{ skill.skill }}</td>
          <td>{{ skill.level }}</td>
        </tr>
      {% else %}
        <tr class="warning">
          <td colspan="3">{{ "character_skill.empty_3rd"|trans }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  {% if character.story %}
  <div class="large-4 columns">
    <h2>{{ "character.story"|trans }}</h2>
    {{ include("ArgonGameBundle:Partial\\Character:story.html.twig", {"character": character}) }}
    {% if character.note %}
      <div class="note"><h5>{{ "character.note"|trans }}</h5>{{ character.note|markdown|raw }}</div>
    {% endif %}
  </div>
  {% endif %}
</div>
{% if experiences %}
<div class="row">
  <div class="large-12 columns">
    <h2>{{ "character.experience"|trans }}</h2>
    <table>
      <thead>
        <tr>
          <th>{{ "character_experience.at"|trans }}</th>
          <th>{{ "character_experience.reason"|trans }}</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
      {% for experience in experiences %}
        <tr>
          <td>{{ experience.at|date }}</td>
          <td>{{ experience.reason }}</td>
          <td>{{ experience.value }}</td>
        </tr>
      {% else %}
        <tr class="warning">
          <td colspan="3">{{ "character_experience.empty"|trans }}</td>
        </tr>
      {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3">
            <div class="row text-center">
              <div class="columns"><big>{{ character.skillsExperience|default(0) }}</big> {{ "character_experience.stats.used_skills"|trans }}</div>
              <div class="columns"><big>{{ character.availableExperience|default(0) }}</big> {{ "character_experience.stats.available"|trans }}</div>
              <div class="columns"><big>{{ character.experience|default(0) }}</big> {{ "character_experience.stats.total"|trans }}</div>
            </div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
{% endif %}

<div class="button-group">
{% if is_granted("ROLE_PJ") and not character.isEqualTo(app.user) %}
  {% if character in friends %}
    <a href="{{ path("friendlist_relation", {"slug": character.slug}) }}" class="button">{{ "character.view_friendship"|trans }}</a>
  {% else %}
    <a href="{{ path("friendlist_relation", {"slug": character.slug}) }}" class="button">{{ "character.add_to_friendlist"|trans }}</a>
  {% endif %}
{% endif %}
</div>
{% endblock %}