{% extends "ArgonWebBundle::layout_admin.html.twig" %}
{% set active = "news" %}

{% block title %}{{ parent() }} - {{ "admin.news.news"|trans }} - {{ post }} - {{ "admin.news.edit"|trans }}{% endblock %}

{% block top %}
<ol id="breadcrumb">
  <li><a href="{{ path("admin_dashboard") }}">{{ "admin.dashboard.title"|trans }}</a></li>
  <li><a href="{{ path("admin_news") }}">{{ "admin.news.news"|trans }}</a></li>
  <li><a href="{{ path("admin_news_view", {"slug": post.slug}) }}">{{ post }}</a></li>
  <li class="active">{{ "admin.news.edit"|trans }}</li>
</ol>
{% endblock %}

{% block content %}
{{ form(form) }}
{% endblock %}