{% extends "ArgonWebBundle::layout_admin.html.twig" %}
{% set active = "news" %}

{% block title %}{{ parent() }} - {{ "admin.news.title"|trans }}{% endblock %}

{% block content %}
<ol id="breadcrumb">
  <li><a href="{{ path("admin_dashboard") }}">{{ "admin.dashboard.title"|trans }}</a></li>
  <li class="active">{{ "admin.news.posts"|trans }}</li>
</ol>
<table>
  <thead>
    <tr>
      <th>{{ "admin.news.title"|trans }}</th>
      <th>{{ "admin.news.status"|trans }}</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
  {% for post in entities %}
    <tr>
      <td>
        <a href="{{ path("admin_news_view", {"slug": post.slug}) }}">{{ post }}</a>
      </td>
      <td>
        {% if post.isPublished %}
          {{ "admin.news.published_at"|trans({"%date%": post.publishedAt|date}) }}
        {% else %}
          {{ "admin.news.draft"|trans }}
        {% endif %}
      </td>
      <td>
        {% if not post.isPublished %}
          <a href="{{ path("admin_news_publish", {"slug": post.slug}) }}">{{ "admin.news.publish"|trans }}</a>
        {% endif %}
        <a href="{{ path("admin_news_edit", {"slug": post.slug}) }}">{{ "admin.news.edit"|trans }}</a>
      </td>
    </tr>
  {% else %}
    <tr class="warning">
      <td colspan="3">{{ "admin.news.empty"|trans }}</td>
    </tr>
  {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">
      </td>
    </tr>
  </tfoot>
</table>
<ul>
  <li><a href="{{ path("admin_news_new") }}">{{ "admin.news.new"|trans }}</a></li>
</ul>
{% endblock %}