{% set active = 'news' %}
{% extends 'ArgonWebBundle::Admin/layout.html.twig' %}
{% trans_default_domain 'admin' %}

{% block title %}{{ parent() }} - {{ 'news.posts'|trans }}{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="{{ path('admin_dashboard') }}">{{ 'dashboard.title'|trans }}</a></li>
  <li class="active">{{ 'news.posts'|trans }}</li>
</ol>
<table class="table table-striped">
  <thead>
    <tr>
      <th>{{ 'news.post.title'|trans({}, 'admin') }}</th>
      <th class="text-right">{{ 'news.post.status'|trans({}, 'admin') }}</th>
      <th class="text-right">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
  {% for post in entities %}
      <tr>
        <td>
          <a href="{{ path('admin_news_view', {'slug': post.slug}) }}">{{ post }}</a>
        </td>
        <td class="text-right">
          {% if post.isPublished %}
            {{ 'news.post.published_at'|trans({'%date%': post.publishedAt|date}) }}
          {% else %}
            {{ 'news.post.draft'|trans }}
          {% endif %}
        </td>
        <td class="text-right">
          {% if not post.isPublished %}
            <a href="{{ path('admin_news_publish', {'slug': post.slug}) }}">{{ 'news.actions.publish'|trans }}</a>
          {% endif %}
        </td>
      </tr>
  {% else %}
    <tr class="warning">
      <td colspan="3">{{ 'news.post.empty'|trans({}, 'admin') }}</td>
    </tr>
  {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">
        <a href="{{ path('admin_news_new') }}" class="btn btn-default">{{ 'news.actions.new'|trans }}</a>
      </td>
    </tr>
  </tfoot>
</table>
{% endblock %}