{% extends "ArgonWebBundle::layout_admin.html.twig" %}
{% set active = "news" %}

{% block title %}{{ parent() }} - {{ "admin.news.title"|trans }} {{ "admin.news.new"|trans }}{% endblock %}

{% block content %}
<ol id="breadcrumb">
  <li><a href="{{ path('admin_dashboard') }}">{{ "admin.dashboard.title"|trans }}</a></li>
  <li><a href="{{ path('admin_news') }}">{{ "admin.news.title"|trans }}</a></li>
  <li class="active">{{ "admin.news.new"|trans }}</li>
</ol>
{{ form(form) }}
{% endblock %}