{% extends "ArgonWebBundle::layout_admin.html.twig" %}
{% trans_default_domain "ArgonNewsBundle" %}
{% set active = "news" %}

{% block title %}{{ parent() }} - {{ "admin.news.posts"|trans }} {{ "admin.news.actions.new"|trans }}{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="{{ path('admin_dashboard') }}">{{ "admin.dashboard.title"|trans }}</a></li>
  <li><a href="{{ path('admin_news') }}">{{ "admin.news.posts"|trans }}</a></li>
  <li class="active">{{ "admin.news.actions.new"|trans }}</li>
</ol>
{{ form(form) }}
{% endblock %}