{% extends "ArgonWebBundle::layout_admin.html.twig" %}
{% trans_default_domain "ArgonNewsBundle" %}
{% set active = "news" %}

{% block title %}{{ parent() }} - {{ "admin.news.title"|trans }} - {{ post }} - {{ "admin.news.publish"|trans }}{% endblock %}

{% block content %}
<ol id="breadcrumb">
  <li><a href="{{ path("admin_dashboard") }}">{{ "admin.dashboard.title"|trans }}</a></li>
  <li><a href="{{ path("admin_news") }}">{{ "admin.news.title"|trans }}</a></li>
  <li><a href="{{ path("admin_news_view", {"slug": post.slug}) }}">{{ post }}</a></li>
  <li class="active">{{ "admin.news.publish"|trans }}</li>
</ol>
<div class="alert alert-warning">{{ "admin.news.publish_confirm"|trans({"%post%": post}) }}</div>
{{ form(form) }}
{% endblock %}