{% trans_default_domain 'FOSUserBundle' %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h2>{{ 'change_password.title'|trans }}</h2>
  </div>

  <div class="panel-body">
    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password" role="form">
      {{ form_rest(form) }}
      <div>
        <button type="submit" class="btn btn-primary">{{ 'change_password.submit'|trans }}</button>
        <a href="{{ path('fos_user_profile_show') }}" class="btn btn-link">{{ 'change_password.cancel'|trans }}</a>
      </div>
    </form>
  </div>
</div>
