{% extends "FOSUserBundle::layout_cover.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ parent() }} - {{ 'layout.login'|trans }}{% endblock %}

{% block fos_user_content %}
  <div class="panel panel-default">
    <form action="{{ path("fos_user_security_check") }}" method="post" class="fos_user_security_login" role="form">
      <div class="panel-heading">
        <h2 class="panel-title">{{ 'security.login.title'|trans }}</h2>
      </div>

      <div class="panel-body">
        {% if error %}
          <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="{{ 'security.login.username'|trans }}" required="required" class="form-control">
        <input type="password" id="password" name="_password" placeholder="{{ 'security.login.password'|trans }}" required="required" class="form-control">

        <label class="checkbox">
          <input type="checkbox" id="remember_me" name="_remember_me" value="on">{{ 'security.login.remember_me'|trans }}
        </label>

        <button type="submit" id="_submit" name="_submit" class="btn btn-lg btn-primary btn-block">{{ 'security.login.submit'|trans }}</button>
      </div>
    </form>
  </div>
  <div class="panel panel-default">
    <div class="list-group">
      <a href="{{ path("fos_user_registration_register") }}" class="list-group-item">{{ 'layout.register'|trans }}</a>
      <a href="{{ path("fos_user_resetting_request") }}" class="list-group-item">{{ 'layout.reset_password'|trans }}</a>
    </div>
  </div>
{% endblock fos_user_content %}