{% extends "ArgonWebBundle::layout.html.twig" %}
{% set active = "friendlist" %}

{% block title %}{{ parent() }} - {{ "friendlist.title"|trans }}{% endblock %}

{% block content %}
  <h1>{{ "friendlist.title"|trans }}</h1>
  {% for row in friends|batch(3) %}
    <div class="row small-up-2 medium-up-3">
      {% for friend in row %}
      <div class="column">
        {{ include("ArgonGameBundle:Partial\\Character:card.html.twig", {"character": friend.getFriendOf(app.user)}) }}
      </div>
      {% endfor %}
    </div>
  {% else %}
    <div class="warning callout">
      <p>{{ "friendlist.empty"|trans }}</p>
    </div>
  {% endfor %}
  {{ knp_pagination_render(friends) }}

  {% if pending|length %}
    <h2>{{ "friendlist.pending"|trans }}</h2>
    {{ render(controller("ArgonGameBundle:Block:characters", {"characters": pending, "showAccept": true})) }}
  {% endif %}
{% endblock %}