<div class="card">
  <div class="card-section">
    {{ render(controller("ArgonGameBundle:Block:characterNick", {"character": character})) }}
    (
      <span class="fi-graph-bar"></span>
      <span class="experience">{{ character.skillsExperience }}/{{ character.experience }}</span>
    )
    <br>
    {{ character.race }}
    <div class="button-group">
    {% if linkSwitch is defined and is_granted("ROLE_PLAYER") %}
      <a href="{{ linkSwitch|default(path("character_view", {"slug": character.slug}) ~ "?") ~ "_switch=" ~ character.slug }}" class="thumb button">{{ "character.switch"|trans }}</a>
    {% endif %}
    </div>
  </div>
</div>
