{% trans_default_domain 'web' %}

{% if game is defined %}
<h3>{{ game.info.fullname }}</h3>
  {% if game.info.description[app.request.locale] is defined %}
  <p>{{ game.info.description[app.request.locale] }}</p>
  {% endif %}
{% endif %}

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
  {% if is_granted("ROLE_USER") %}
    <h3>{{ 'sidebar.playerbox'|trans }}</h3>
    <p>{{ 'sidebar.player.hello'|trans({'%name%': app.user.username}) }}</p>
    {% set active = active is defined ? active : '' %}
    <div class="list-group">
      <a href="{{ path('character') }}" class="list-group-item{{ active == 'character' ? ' active' : '' }}">
        <h4 class="list-group-item-heading">{{ 'sidebar.player.characters.title'|trans }}</h4>
        <p>{{ 'sidebar.player.characters.description'|trans }}</p>
      </a>
    </div>
  {% elseif is_granted("ROLE_CHARACTER") %}
    <h3>{{ 'sidebar.characterbox'|trans }}</h3>
    <p>
      {{ 'sidebar.player.hello'|trans({'%name%': app.user.player.username}) }}
      {{ 'sidebar.character.hello'|trans({'%name%': app.user.name}) }}
    </p>
    <div class="list-group">
      <a href="#" class="list-group-item">{{ 'sidebar.character.inbox'|trans }} <span class="badge pull-right">0</span></a>
    </div>
  {% endif %}
{% endif %}