{% set active = 'character' %}
{% extends 'ArgonWebBundle::Admin/layout.html.twig' %}
{% trans_default_domain 'admin' %}

{% block title %}{{ parent() }} - {{ 'character.title'|trans }} - {{ character.name }} - {{ 'character.actions.confirm_story'|trans }}{% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="{{ path('admin_dashboard') }}">{{ 'dashboard.title'|trans }}</a></li>
    <li><a href="{{ path('admin_character') }}">{{ 'character.title'|trans }}</a></li>
    <li>{{ character.name }}</li>
    <li class="active">{{ 'character.actions.confirm_story'|trans }}</li>
</ol>
{{ include('ArgonGameBundle:Character\\Partial:story.html.twig', {'character': character}) }}
{{ form_start(form) }}
    {{ form_errors(form) }}

    {{
        form_row(form.note, {
            'label'     : 'character_confirm_story.note'|trans,
            'help_text' : 'character_confirm_story.note_help'|trans
        })
    }}

    {{ form_row(form.experience) }}
    {{ form_row(form.reason, {'attr': {'placeholder': 'character_confirm_story.reason_placeholder'|trans}}) }}

    {{ form_rest(form) }}
{{ form_end(form) }}
{% endblock %}