{% extends "ArgonWebBundle::layout_admin.html.twig" %}
{% set active = "character" %}

{% block title %}{{ parent() }} - {{ "admin.character.characters"|trans }} - {{ character.name }} - {{ "admin.character_experience.experience"|trans }}{% endblock %}

{% block top %}
<nav aria-label="{{ "admin.you_are_here"|trans }}" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="{{ path("admin_dashboard") }}">{{ "admin.dashboard.title"|trans }}</a></li>
    <li><a href="{{ path("admin_character") }}">{{ "admin.character.characters"|trans }}</a></li>
    <li class="disabled">{{ character.name }}</li>
    <li>{{ "admin.character_experience.experience"|trans }}</li>
  </ul>
</nav>
{% endblock %}

{% block content %}
<table>
  <thead>
    <tr>
      <th>{{ "admin.character_experience.at"|trans }}</th>
      <th>{{ "admin.character_experience.reason"|trans }}</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
  {% for experience in entities %}
    <tr>
      <td>{{ experience.at|date }}</td>
      <td>{{ experience.reason }}</td>
      <td>{{ experience.value }}</td>
    </tr>
  {% else %}
    <tr class="warning">
      <td colspan="3">{{ "admin.character_experience.empty"|trans }}</td>
    </tr>
  {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2"></td>
      <td><strong>{{ character.availableExperience }}</strong></td>
    </tr>
  </tfoot>
</table>
<div class="button-group">
  <a href="{{ path("admin_character_experience_new", {"id": character.id}) }}" class="button">{{ "admin.character_experience.new"|trans }}</a>
</div>
{% endblock %}