{% extends "ArgonWebBundle::layout_admin.html.twig" %}
{% set active = "character" %}

{% block title %}{{ parent() }} - {{ "admin.character.title"|trans }} - {{ character.name }} - {{ "admin.character_experience.title"|trans }}{% endblock %}

{% block content %}
<ol id="breadcrumb">
  <li><a href="{{ path("admin_dashboard") }}">{{ "admin.dashboard.title"|trans }}</a></li>
  <li><a href="{{ path("admin_character") }}">{{ "admin.character.title"|trans }}</a></li>
  <li>{{ character.name }}</li>
  <li class="active">{{ "admin.character_experience.title"|trans }}</li>
</ol>
<table>
  <thead>
    <tr>
      <th>{{ "admin.character_experience.at"|trans }}</th>
      <th>{{ "admin.character_experience.reason"|trans }}</th>
      <th><span class="glyphicon glyphicon-signal"></span></th>
    </tr>
  </thead>
  <tbody>
  {% for experience in entities %}
    <tr>
      <td>{{ experience.at|date }}</td>
      <td>{{ experience.reason }}</td>
      <td>{{ experience.value }}</td>
    </tr>
  {% else %}
    <tr class="warning">
      <td colspan="3">{{ "admin.character_experience.empty"|trans }}</td>
    </tr>
  {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2">
        <a href="{{ path("admin_character_experience_new", {"id": character.id}) }}">{{ "admin.character_experience.new"|trans }}</a>
      </td>
      <td><strong>{{ character.availableExperience }}</strong></td>
    </tr>
  </tfoot>
</table>
{% endblock %}