{% set active = 'character' %}
{% extends 'ArgonWebBundle::Admin/layout.html.twig' %}
{% trans_default_domain 'admin' %}

{% block title %}{{ parent() }} - {{ 'character.title'|trans }}{% endblock %}

{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>{{ 'character.info'|trans }}</th>
            <th>{{ 'character.abilities'|trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for character in entities %}
        <tr>
            <td>
                {% if not game %}
                    <a href="{{ path('admin_character', {'game': character.gameName}) }}">{{ character.game.info.fullname }}</a> /
                {% endif %}
                {{ character.name }}<br>
                {{ character.race }}
            </td>
            <td>
                <table class="table table-bordered">
                    <tbody>
                    {% for ability in character.abilities %}
                        <tr>
                            <td class="text-center">{{ ability.modifier }}</td>
                            <td>{{ ability.code }}</td>
                        </tr>
                    {% else %}
                        <tr class="warning">
                            <td colspan="2">{{ 'character_ability.empty'|trans }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </td>
        </tr>
    {% else %}
        <tr class="warning">
            <td colspan="2">{{ 'character.empty'|trans }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}