{% extends "ArgonWebBundle::layout_admin.html.twig" %}
{% set active = "character" %}

{% block title %}{{ parent() }} - {{ "admin.character.characters"|trans }}{% endblock %}

{% block top %}
<nav aria-label="{{ "admin.you_are_here"|trans }}" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="{{ path("admin_dashboard") }}">{{ "admin.dashboard.title"|trans }}</a></li>
    {% if not game %}
      <li>{{ "admin.character.characters"|trans }}</li>
    {% else %}
      <li><a href="{{ path("admin_character") }}">{{ "admin.character.characters"|trans }}</a> &nbsp;{{ "admin.character.of_game"|trans({"%game%": game.info.fullname}) }}</li>
    {% endif %}
  </ul>
</nav>
{% endblock %}

{% block content %}
{{ form(filter_form) }}
<table>
  <thead>
    <tr>
      <th>{{ "admin.character.info"|trans }}</th>
      <th>{{ "admin.character.abilities"|trans }}</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
  {% for character in entities %}
    <tr>
      <td>
        {% if not game %}
          <a href="{{ path("admin_character", {"game": character.gameName}) }}">{{ character.game.info.fullname }}</a> /
        {% endif %}
        <abbr title="{{ character.player.username }}">{{ character.player.name|default(character.player.username) }}</abbr> /
        <a href="{{ path("character_view", {"slug": character.slug}) }}">{{ character.name }}</a> (
          <a href="{{ path("admin_character_experience", {"id": character.id}) }}">{{ character.skillsExperience }}/{{ character.experience }}</a>
          <a href="{{ path("admin_character_skill", {"id": character.id}) }}">{{ character.skills|length }}</a>
        )
        <br>{{ character.race }}
      </td>
      <td>
        {{ include("ArgonGameBundle:Partial\\Character:abilities.html.twig", {"character": character}) }}
      </td>
      <td>
        <div class="button-group">
        {% if character.isStoryNotConfirmed %}
          <a href="{{ path("admin_character_confirm_story", {"id": character.id}) }}" class="button">{{ "admin.character.confirm_story"|trans }}</a>
        {% endif %}
        </div>
      </td>
    </tr>
  {% else %}
    <tr class="warning">
      <td colspan="3">{{ "admin.character.empty"|trans }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{{ knp_pagination_render(entities) }}
{% endblock %}