{% set active = 'character' %}
{% extends 'ArgonWebBundle::Admin/layout.html.twig' %}
{% trans_default_domain 'admin' %}

{% block title %}{{ parent() }} - {{ 'character.title'|trans }}{% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="{{ path('admin_dashboard') }}">{{ 'dashboard.title'|trans }}</a></li>
    {% if not game %}
        <li class="active">{{ 'character.title'|trans }}</li>
    {% else %}
        <li class="active"><a href="{{ path('admin_character') }}">{{ 'character.title'|trans }}</a> {{ 'character.of_game'|trans({'%game%': game.info.fullname}) }}</li>
    {% endif %}
</ol>
<table class="table table-striped">
    <thead>
        <tr>
            <th>{{ 'character.info'|trans }}</th>
            <th>{{ 'character.abilities'|trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for character in entities %}
        <tr>
            <td>
                {% if not game %}
                    <a href="{{ path('admin_character', {'game': character.gameName}) }}">{{ character.game.info.fullname }}</a> /
                {% endif %}
                <abbr title="{{ character.player.username }}">{{ character.player.name|default(character.player.username) }}</abbr> /
                {{ character.name }} (
                    <a href="{{ path('admin_character_experience', {'id': character.id}) }}"><span class="glyphicon glyphicon-signal"></span> {{ character.experience }}</a>
                )<br>
                {{ character.race }}
            </td>
            <td>
                <table class="table table-bordered">
                    <tbody>
                    {% for ability in character.abilities %}
                        <tr>
                            <td class="text-center">{{ ability.modifier }}</td>
                            <td>{{ ability.code }}</td>
                        </tr>
                    {% else %}
                        <tr class="warning">
                            <td colspan="2">{{ 'character_ability.empty'|trans }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </td>
        </tr>
    {% else %}
        <tr class="warning">
            <td colspan="2">{{ 'character.empty'|trans }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}