{% extends "ArgonWebBundle::layout_admin.html.twig" %}
{% set active = "character" %}

{% block title %}{{ parent() }} - {{ "admin.character.characters"|trans }} - {{ character.name }} - {{ "admin.character_skill.skills"|trans }}{% endblock %}

{% block top %}
<ol id="breadcrumb">
    <li><a href="{{ path("admin_dashboard") }}">{{ "admin.dashboard.title"|trans }}</a></li>
    <li><a href="{{ path("admin_character") }}">{{ "admin.character.characters"|trans }}</a></li>
    <li>{{ character.name }}</li>
    <li class="active">{{ "admin.character_skill.skills"|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<table>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>{{ "admin.skill.name"|trans }}</th>
      <th>{{ "admin.skill.level"|trans }}</th>
    </tr>
  </thead>
  <tbody>
  {% for skill in entities %}
    <tr>
      <td>
        {% if skill.skill.abilityCode %}
          <abbr title="{{ ("character_ability.types." ~ skill.skill.abilityCode)|trans }} ({{ skill.skill.abilityCode }})">*</abbr>
        {% else %}
          <abbr title="{{ "admin.skill.ability_empty"|trans }}">*</abbr>
        {% endif %}
      </td>
      <td>{{ skill.skill }}</td>
      <td>{{ skill.level }}</td>
    </tr>
  {% else %}
    <tr class="warning">
      <td colspan="3">{{ "admin.character_skill.empty"|trans }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}