{% extends "ArgonWebBundle::layout_admin.html.twig" %}
{% trans_default_domain "ArgonGameBundle" %}
{% set active = "race" %}

{% block title %}{{ parent() }} - {{ "admin.race.title"|trans }}{% endblock %}

{% block content %}
<ol id="breadcrumb">
  <li><a href="{{ path("admin_dashboard") }}">{{ "admin.dashboard.title"|trans }}</a></li>
  <li class="active">{{ "admin.race.title"|trans }}</li>
</ol>
{{ include("ArgonGameBundle:Admin\\Partial\\Race:list.html.twig", {"entities": entities}) }}
{% endblock %}