{% extends "ArgonWebBundle::layout_admin.html.twig" %}
{% set active = "race" %}

{% block title %}{{ parent() }} - {{ "admin.race.races"|trans }}{% endblock %}

{% block top %}
<nav aria-label="{{ "admin.you_are_here"|trans }}" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="{{ path("admin_dashboard") }}">{{ "admin.dashboard.title"|trans }}</a></li>
    <li>{{ "admin.race.races"|trans }}</li>
  </ul>
</nav>
{% endblock %}

{% block content %}
{{ include("ArgonGameBundle:Admin\\Partial\\Race:list.html.twig", {"entities": entities}) }}
{% endblock %}