{% extends "ArgonWebBundle::layout_admin.html.twig" %}
{% set active = "race" %}

{% block title %}{{ parent() }} - {{ "admin.race.races"|trans }} - {{ entity }}{% endblock %}

{% block top %}
<nav aria-label="{{ "admin.you_are_here"|trans }}" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="{{ path("admin_dashboard") }}">{{ "admin.dashboard.title"|trans }}</a></li>
    <li><a href="{{ path("admin_race") }}">{{ "admin.race.races"|trans }}</a></li>
    <li>{{ entity.slug }}</li>
  </ul>
</nav>
{% endblock %}

{% block content %}
<dl>
  <dt>
    <label>{{ "admin.race.name"|trans }}</label>
  </dt>
  <dd>
    {% if entity.name %}
      {{ entity.name }}
    {% else %}
      <em>{{ "admin.race.name_empty"|trans({"%locale%": app.request.locale}) }}</em>
    {% endif %}
  </dd>
  <dt>
    <label>{{ "admin.race.modifier"|trans }}</label>
  </dt>
  <dd>{{ entity.modifier }}</dd>
  <dt>
    <label>{{ "admin.race.genres"|trans }}</label>
  </dt>
  <dd>
    <div class="genres">
    {% for genre in entity.genres %}
      <span class="label {{ genre|lower }}">{{ ("genres." ~ genre)|trans }}</span>
    {% endfor %}
    </div>
  </dd>
</dl>
<div class="button-group">
  <a href="{{ path("admin_race_edit", {"slug": entity.slug}) }}" class="button">{{ "admin.race.edit"|trans }}</a>
</div>
{% endblock %}