{% extends "ArgonWebBundle::layout_admin.html.twig" %}
{% trans_default_domain "ArgonGameBundle" %}
{% set active = "race" %}

{% block title %}{{ parent() }} - {{ "admin.race.title"|trans }} - {{ entity }}{% endblock %}

{% block content %}
<ol id="breadcrumb">
  <li><a href="{{ path("admin_dashboard") }}">{{ "admin.dashboard.title"|trans }}</a></li>
  <li><a href="{{ path("admin_race") }}">{{ "admin.race.title"|trans }}</a></li>
  <li class="active">{{ entity.slug }}</li>
</ol>
<dl>
  <dt>
    <label>{{ "admin.race.name"|trans }}</label>
  </dt>
  <dd>
    {% if entity.name %}
      {{ entity.name }}
    {% else %}
      <em>{{ "admin.race.name_empty"|trans({"%locale%": app.request.locale}) }}</em>
    {% endif %}
  </dd>
  <dt>
    <label>{{ "admin.race.modifier"|trans }}</label>
  </dt>
  <dd>{{ entity.modifier }}</dd>
</dl>
{% endblock %}