{% extends "ArgonWebBundle::layout.html.twig" %}
{% trans_default_domain "ArgonUserBundle" %}
{% set active = "player" %}

{% block title %}{{ parent() }} - {{ "admin.player.title"|trans }}{% endblock %}

{% block content %}
<ol id="breadcrumb">
    <li><a href="{{ path("admin_dashboard") }}">{{ "dashboard.title"|trans }}</a></li>
    <li class="active">{{ "admin.player.title"|trans }}</li>
</ol>
<table>
    <thead>
        <tr>
            <th>{{ "admin.player.username"|trans }}</th>
            <th>{{ "admin.player.name"|trans }}</th>
            <th>{{ "admin.player.lastlogin"|trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for player in entities %}
        <tr>
            <td>{{ player.username }}</td>
            <td>{{ player.name }}</td>
            <td>{{ player.lastLogin|date }}</td>
        </tr>
    {% else %}
        <tr class="warning">
            <td colspan="3">{{ "player.empty"|trans }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{{ knp_pagination_render(entities) }}
{% endblock %}