<table>
  <thead>
    <tr>
      {% if show_ability %}
        <th>{{ "admin.skill.ability"|trans }}</th>
      {% endif %}
      <th>{{ "admin.skill.name"|trans }}</th>
      <th class="text-right">{{ "admin.skill.modifier"|trans }}</th>
      <th class="text-right">{{ "admin.skill.max"|trans }}</th>
    </tr>
  </thead>
  <tbody>
  {% for skill in entities %}
    <tr>
      {% if show_ability %}
      <td>
        {% if skill.abilityCode %}
          <abbr title="{{ skill.abilityCode }}">{{ ("character_ability.types." ~ skill.abilityCode)|trans }}</abbr>
          <a href="{{ path("admin_skill", {"ability": skill.abilityCode}) }}">&rarr;</a>
        {% else %}
          <em>{{ "admin.skill.ability_empty"|trans }}</em>
        {% endif %}
      </td>
      {% endif %}
      <td><a href="{{ path("admin_skill_view", {"slug": skill.slug}) }}">{{ skill }}</a></td>
      <td>{{ skill.modifier }}</td>
      <td>
        {% if skill.max %}
          {{ skill.max }}
        {% endif %}
      </td>
    </tr>
  {% else %}
      <tr class="warning">
          <td colspan="{{ 3 + (show_ability ? 1 : 0) }}">{{ "admin.skill.empty"|trans }}</td>
      </tr>
  {% endfor %}
  </tbody>
</table>
