{% extends "ArgonWebBundle::layout_admin.html.twig" %}
{% set active = "race" %}

{% block title %}{{ parent() }} - {{ "admin.skill.skills"|trans }} - {{ skill }} - {{ "admin.skill.edit"|trans }}{% endblock %}

{% block top %}
<nav aria-label="{{ "admin.you_are_here"|trans }}" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="{{ path("admin_dashboard") }}">{{ "admin.dashboard.title"|trans }}</a></li>
    <li><a href="{{ path("admin_skill") }}">{{ "admin.skill.skills"|trans }}</a></li>
    <li><a href="{{ path("admin_skill_view", {"slug": skill.slug}) }}">{{ skill.slug }}</a></li>
    <li>{{ "admin.skill.edit"|trans }}</li>
  </ul>
</nav>
{% endblock %}

{% block content %}
{{ form(form) }}
{% endblock %}