{% extends "ArgonWebBundle::layout_admin.html.twig" %}
{% trans_default_domain "ArgonGameBundle" %}
{% set active = "skill" %}

{% block title %}{{ parent() }} - {{ "admin.skill.title"|trans }}{% endblock %}

{% block content %}
<ol id="breadcrumb">
  <li><a href="{{ path("admin_dashboard") }}">{{ "admin.dashboard.title"|trans }}</a></li>
  {% if not ability %}
    <li class="active">{{ "admin.skill.title"|trans }}</li>
  {% else %}
    <li class="active"><a href="{{ path("admin_skill") }}">{{ "admin.skill.title"|trans }}</a> {{ "admin.skill.of_ability"|trans({"%ability%": ("character_ability.types." ~ ability)|trans}) }}</li>
  {% endif %}
</ol>
{{ include("ArgonGameBundle:Admin\\Partial\\Skill:list.html.twig", {"entities": entities, "show_ability": ability is null}) }}
{% endblock %}