{% extends "ArgonWebBundle::layout_admin.html.twig" %}
{% set active = "skill" %}

{% block title %}{{ parent() }} - {{ "admin.skill.skills"|trans }} - {{ entity }}{% endblock %}

{% block top %}
<nav aria-label="{{ "admin.you_are_here"|trans }}" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="{{ path("admin_dashboard") }}">{{ "admin.dashboard.title"|trans }}</a></li>
    <li><a href="{{ path("admin_skill") }}">{{ "admin.skill.skills"|trans }}</a></li>
    {% set parts = [] %}
    {% for part in entity.slug|split("/") %}
      {% if loop.last %}
        <li>{{ part }}</li>
      {% else %}
        {% set parts = parts|merge([part]) %}
        <li class="disabled"><a href="{{ path("admin_skill_view", {"slug": parts|join("/")}) }}">{{ part }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
{% endblock %}

{% block content %}
<dl>
  <dt>
    <label>{{ "admin.skill.ability"|trans }}</label>
  </dt>
  <dd>
    {% if entity.abilityCode %}
      <abbr title="{{ entity.abilityCode }}">{{ ("character_ability.types." ~ entity.abilityCode)|trans }}</abbr>
    {% else %}
      <em>{{ "admin.skill.ability_empty"|trans }}</em>
    {% endif %}
  </dd>
  <dt>
    <label>{{ "admin.skill.name"|trans }}</label>
  </dt>
  <dd>{{ entity.name }}</dd>
  <dt>
    <label>{{ "admin.skill.modifier"|trans }}</label>
  </dt>
  <dd>{{ entity.modifier }}</dd>
  <dt>
    <label>{{ "admin.skill.max"|trans }}</label>
  </dt>
  <dd>
    {% if entity.max %}
      {{ entity.max }}
    {% else %}
      <em>{{ "admin.skill.max_empty"|trans }}</em>
    {% endif %}
  </dd>
  <dt>
    <label>{{ "admin.skill.description"|trans }}</label>
  </dt>
  <dd>
    {% if description %}
      {{ description|raw }}
    {% else %}
      <em>{{ "admin.skill.description_empty"|trans }}</em>
    {% endif %}
  </dd>
  <dt>
    <label>{{ "admin.skill.requirements"|trans }}</label>
  </dt>
  <dd>
    {{ include("ArgonGameBundle:Admin\\Partial\\Skill:list.html.twig", {"entities": entity.requirements, "show_ability": false}) }}
  </dd>
</dl>
<div class="button-group">
  <a href="{{ path("admin_skill_edit", {"slug": entity.slug}) }}" class="button">{{ "admin.skill.edit"|trans }}</a>
</div>
{% endblock %}